
/* Your CSS Code here. */
.holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    flex-wrap: wrap;                  
}

.item {
    flex: 0 0 100px;   
    height: 100px;
    margin: 10px 0;      
}
